    header {
    background: linear-gradient(
        90deg,
        #171717,
        #1f1a24,
        #171717
    );

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
}

    .logo {
    color: #a432e2;
    font-size: 24px;
    font-weight: bold;

    text-shadow:
        0 0 5px rgba(164, 50, 226, 0.6),
        0 0 10px rgba(164, 50, 226, 0.4),
        0 0 20px rgba(164, 50, 226, 0.2);
}
.foto-perfil {
    width: 480px;
    height: auto;

    filter:
        drop-shadow(0 0 2.5px #a855f7)
        drop-shadow(0 0 5px #a855f7);
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}
    nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
    }

nav ul li a {
    text-decoration: none;
    color: #e3e3e3;
    font-size: 20px;
    transition: color 0.3s ease;
} 

    nav ul li a:hover {
        color: #a855f7;
    }

    body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #121212;
    overflow-x: hidden;
    position: relative;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;

    background:
        radial-gradient(circle at 20% 20%,
            rgba(164, 50, 226, 0.192),
            transparent 30%),
        radial-gradient(circle at 80% 70%,
            rgba(164, 50, 226, 0),
            transparent 35%),
        radial-gradient(circle at 50% 50%,
            rgba(120, 50, 255, 0.08),
            transparent 50%);

    animation: glowMove 12s ease-in-out infinite alternate;
    pointer-events: none;
    z-index: -2;
}
body::after {
    content: "";
    position: fixed;
    inset: 0;

    background-image:
        linear-gradient(
            rgba(164, 50, 226, 0.05) 1px,
            transparent 1px
        ),
        linear-gradient(
            90deg,
            rgba(164, 50, 226, 0.05) 1px,
            transparent 1px
        );

    background-size: 50px 50px;
    pointer-events: none;
    z-index: -1;
}

@keyframes glowMove {
    from {
        transform: translate(-40px, -20px) scale(1);
    }

    to {
        transform: translate(40px, 20px) scale(1.15);
    }
}

   .caixa-texto {
    width: 450px;
    padding: 30px;

    background-color: #0f0f0f;
    border: 2px solid #a855f7;
    border-radius: 15px;

    box-shadow:
        0 0 10px rgba(168, 85, 247, 0.6),
        0 0 20px rgba(168, 85, 247, 0.4);

    color: white;
}

    .caixa-texto h1 {
    margin-top: 0;
    color: #a855f7;
    font-size: 40px;
}

    .caixa-texto p {
    font-size: 18px;
    line-height: 1.6;
    color: #d0d0d0;
}
    .caixa-texto .highlight {
    color: #a855f7;
    font-weight: bold;
}
nav ul li a.active {
    color: #a855f7;

    text-shadow:
        0 0 5px rgba(168, 85, 247, 0.8),
        0 0 10px rgba(168, 85, 247, 0.7),
        0 0 20px rgba(168, 85, 247, 0.6);

    font-weight: bold;
}
    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
}

    .skill {
        background: #161616;
        border: 1px solid rgba(168,85,247,0.25);

        border-radius: 12px;
        padding: 20px;

    transition: 0.3s;
}

    .skill:hover {
    border-color: #a855f7;
    transform: translateY(-3px);
}

    .skill i {
    font-size: 35px;
}

    .skill span {
    color: #e3e3e3;
    font-size: 18px;
    font-weight: 600;
}


.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #1572b6;
}

.fa-js {
    color: #f7df1e;
}

.fa-python {
    color: #3776ab;
}
.devicon-cplusplus-plain {
    color: #00599C;
}

.devicon-arduino-plain {
    color: #00979D;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;

    padding: 80px 100px;
    gap: 40px;
}
.container-esquerda {
    width: 450px;
    background-color: #0f0f0f;
    border: 2px solid #a855f7;
    border-radius: 15px;
    box-shadow:
        0 0 10px rgba(168, 85, 247, 0.6),
        0 0 20px rgba(168, 85, 247, 0.4);

    padding: 30px;
    color: #d0d0d0;
}

.container-esquerda h1 {
    color: #a855f7;
    margin-top: 0;
}
.container-esquerda p {
    line-height: 1.6;
    font-size: 16px;
}
.caixa-links {
    width: 450px;

    background-color: #0f0f0f;
    border: 2px solid #a855f7;
    border-radius: 15px;

    padding: 20px;

    box-shadow:
        0 0 8px rgba(168, 85, 247, 0.5);
}

.caixa-links a {
    display: block;
    color: #d0d0d0;
    margin: 8px 0;
    text-decoration: none;
}
.caixa-links a:hover {
    color: #a855f7;
}
.caixa-links h1{
    color: #a855f7;
    margin-top: 0;}

.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 80px 100px;
}

.coluna-direita {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.projetos-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 100px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.caixa-projeto {
    display: flex;
    align-items: center;
    gap: 25px;

    background-color: #0f0f0f;
    border: 2px solid #a855f7;
    border-radius: 15px;

    padding: 25px;

    box-shadow:
        0 0 10px rgba(168, 85, 247, 0.6),
        0 0 20px rgba(168, 85, 247, 0.4);

    transition: 0.3s ease;
}

.caixa-projeto:hover {
    transform: translateY(-5px);

    box-shadow:
        0 0 15px rgba(168, 85, 247, 0.8),
        0 0 25px rgba(168, 85, 247, 0.5);
}

.caixa-projeto img {
    width: 320px;
    height: 180px;

    object-fit: cover;

    border-radius: 10px;
    border: 1px solid rgba(168, 85, 247, 0.4);
}

.projeto-info {
    flex: 1;
}

.projeto-info h2 {
    color: #a855f7;
    margin-top: 0;
    font-size: 28px;
}

.projeto-info p {
    color: #d0d0d0;
    line-height: 1.6;
    font-size: 17px;
}